.tmp/
.tmp/*
tmp/
tmp/*

.log/
.log/*
log/
log/*

.secret/
.secret/*
secret/
secret/*

.local/
.local/*
local/
local/*

.run/
.run/*
run/
run/*

*.tmp
*.log
*.secret
*.run
*.swp
*.local

__ws/
__ws/*
